# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build outputs
dist/
build/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
eslint-cache
.eslintcache

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db

# Mock inventory demo files
backend/src/modules/product-management/inventory.mock.js
backend/src/modules/product-management/controller.js
backend/src/modules/product-management/model.js
backend/src/modules/product-management/route.js
backend/src/modules/product-management/service.js
frontend/src/services/inventoryService.js
